<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>csgoGameState - WebClient</title>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" href="styles.css">
	<script src="socket.io.js"></script>
	<script src="vue.js"></script>
</head>

<body id="body">
	
	<main id="main">
		<section id="map">
			<div class="name">{{ map.name }}</div>
			<div class="rounds">
				<div class="round">{{ map.round }}</div>
				<div class="score score-t">{{ map.team_t_score }}</div>
				<div class="score score-ct">{{ map.team_ct_score }}</div>
			</div>
		</section>
		<section id="bombTimer" v-if="bombTimer">
			<div class="bomb__text">Bomb Timer</div>
			<div class="bomb__time" :class="{'red': bombTimer <= 10}">{{ bombTimer }}</div>
		</section>

		<section id="weapons" v-if="inventory">
			<ul class="weapons">

				<li class="weapons__primary weapon"  :class="{'weapon-selected': isPrimary}" v-if="inventory.weapons.primary.name">
					<img :src="inventory.weapons.primary.img" class="weapon__img">

					<span class="weapon__name">{{ inventory.weapons.primary.name | realName }}</span>

					<div class="primary__ammo">
						<span class="ammo-current" :class="{'red': inventory.weapons.primary.ammo <= Math.ceil(inventory.weapons.primary.ammo_max*.175)}">{{ inventory.weapons.primary.ammo }}</span>
						<span class="ammo-reserve">{{ inventory.weapons.primary.ammo_reserve }}</span>
					</div>
				</li>

				<li class="weapons__secondary weapon" v-if="inventory.weapons.secondary.name" :class="{'weapon-selected': isSecondary}">

					<img :src="inventory.weapons.secondary.img" class="weapon__img" >

					<span class="weapon__name">{{ inventory.weapons.secondary.name | realName }}</span>

					<div class="secondary__ammo">
						<span class="ammo-current" :class="{'red': inventory.weapons.secondary.ammo <= Math.ceil(inventory.weapons.secondary.ammo_max*.175)}">{{ inventory.weapons.secondary.ammo }}</span>
						<span class="ammo-reserve">{{ inventory.weapons.secondary.ammo_reserve }}</span>
					</div>
				</li>

				<li class="weapons__knife weapon" :class="{'weapon-selected': isKnife}">

					<img :src="inventory.weapons.knife.img" class="weapon__img">

					<span class="weapon__name">{{ inventory.weapons.knife.name | realName }}</span>
				</li>
			</ul>

			<ul class="grenades">
				<li class="grenade" v-if="inventory.weapons.he" :class="{'weapon-selected': isHE}">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_hegrenade.7b344756d5dbdda4fd2e583a227a670599889f59.png" alt="he outline" class="weapon__img">
					<div>HE</div>
				</li>

				<li class="grenade" v-if="inventory.weapons.flashes" :class="{'weapon-selected': isFlash}">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_flashbang.bbde1307eeb99d78ef67c3a87a3a713023b63af2.png" alt="flash outline" class="weapon__img">
					<div>Flash x {{ inventory.weapons.flashes }}</div>
				</li>

				<li class="grenade" v-if="inventory.weapons.smoke" :class="{'weapon-selected': isSmoke}">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_smokegrenade.8746d3fec5a1041d61412295aee74c7d873ccacb.png" alt="smoke outline" class="weapon__img">
					<div>Smoke</div>
				</li>

				<li class="grenade" v-if="inventory.weapons.decoy" :class="{'weapon-selected': isDecoy}">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_decoy.d09e626c3d81f1f262bbca6146407f279a24dd03.png" alt="decoy" class="weapon__img">
					<div>Decoy</div>
				</li>

				<li class="grenade" v-if="inventory.weapons.molly" :class="{'weapon-selected': isMolly}">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_molotov.d700f0165e02bd9f2cb6bdb63bb76b4cac450b76.png" alt="molotov outline" class="weapon__img">
					<div>Molly</div>
				</li>

				<li class="grenade" v-if="inventory.weapons.incgrenade" :class="{'weapon-selected': isInc}">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_incgrenade.94d31f4f1af7d2e695f403d9a55f2cd64f3459b2.png" alt="incendiary" class="weapon__img">
					<div>Incendiary</div>
				</li>

			</ul>
			<ul class="others">
				<!-- others are c4 and zeus -->
				<li class="bomb" v-if="inventory.bomb" :class="{'weapon-selected': isC4}">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_c4.98f6ef853be4a712c684562b2460dd3e3ace8f64.png" class="weapon__img"  alt="bomb_csgo" >
					<div class="bomb__name">C4</div>
				</li>
				<li class="zeus" v-if="inventory.weapons.zeus" :class="{'weapon-selected': isZeus}">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_taser.3c80d155bf0547c377217920f2c7329c8b00d472.png" alt="taser" class="weapon__img">
					<div class="zeus__name">Zeus</div>
				</li>
			</ul>
		</section>
		<section id="state">
			<ul class="health-armor">
				<li class="health">
					<span class="health__text">
						<i class="material-icons">add</i>
					</span>
					<span class="health__number">{{ player.health }}</span>
				</li>
				<li class="armor">
					<span class="armor__text" :title="'helmet=' + player.helmet">
						<i class="material-icons" v-if="player.helmet">person</i>
						<i class="material-icons" v-else>person_outline</i>
					</span>
					<span class="armor__number">{{ player.armor }}</span>
				</li>
			</ul>
			<ul class="state">
				<li>
					Flashed
					<meter value="{{ player.flashed }}" max="100" min="0">{{ player.flashed }}</meter>
				</li>
				<li>
					Smoked 
					<meter value="{{ player.smoked }}" max="100" min="0">{{ player.smoked }}</meter>
				</li>
				<li>
					Burning 
					<meter value="{{ player.burning }}" max="100" min="0">{{ player.burning }}</meter>
				</li>
				<li>Money ${{ player.money }}</li>
				<li>Kills {{ player.kills }}</li>
				<li>Headshots {{ player.headshots }}</li>
			</ul>
		</section>


	</main>
	<div class="snackbar" transition="snackbar" v-show="notification">
		{{ snackbarText }}
	</div>

	<script src="client.js"></script>
</body>

</html>

