<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>csgoGameState - WebClient</title>
	<link rel="stylesheet" href="styles.css">
	<script src="socket.io.js"></script>
	<script src="vue.js"></script>
</head>

<body id="body">
	<header>
		<h1>csgoGameState</h1>
	</header>
	
	<main id="main">
		<div class="flashKill" v-show="flashKill">
			KILL WHILE FLASHED
		</div>
		<section id="bombTimer" v-if="bombTimer">
			<div class="bomb__text">Bomb Timer</div>
			<div class="bomb__time" :class="{'red': bombTimer <= 10}">{{ bombTimer }}</div>
		</section>
		<section id="state">
			<!-- <h2>State</h2> -->
			<ul class="state">
				<li>
					Health
					<meter value="{{ player.health }}" max="100" min="0" low="25"> {{ player.health }}</meter>
				</li>
				<li>
					Armor
					<meter value="{{ player.armor }}" max="100" min="0"> {{ player.armor }}</meter>
				</li>
				<li>Helmet {{ player.helmet }}</li>
				<li>
					Flashed
					<meter value="{{ player.flashed }}" max="100" min="0">{{ player.flashed }}</meter>
				</li>
				<li>
					Smoked 
					<meter value="{{ player.smoked }}" max="100" min="0">{{ player.smoked }}</meter>
				</li>
				<li>
					Burning 
					<meter value="{{ player.burning }}" max="100" min="0">{{ player.burning }}</meter>
				</li>
				<li>Money ${{ player.money }}</li>
				<li>Kills {{ player.kills }}</li>
				<li>Headshots {{ player.headshots }}</li>
			</ul>
		</section>

		<section id="weapons" v-if="inventory">
			<!-- <h2>Weapons</h2> -->
			
			<ul class="weapons">

				<li class="weapons__primary weapon"  :class="{'weapon-selected': isPrimary}" v-if="inventory.weapons.primary.name">
					<img :src="inventory.weapons.primary.img" class="weapon__img">

					<span class="weapon__name">{{ inventory.weapons.primary.name | realName }}</span>

					<div class="primary__ammo">
						<span class="ammo-current" :class="{'red': inventory.weapons.primary.ammo <= Math.ceil(inventory.weapons.primary.ammo_max*.175)}">{{ inventory.weapons.primary.ammo }}</span>
						<span class="ammo-reserve">{{ inventory.weapons.primary.ammo_reserve }}</span>
					</div>
				</li>

				<li class="weapons__secondary weapon" v-if="inventory.weapons.secondary.name" :class="{'weapon-selected': isSecondary}">

					<img :src="inventory.weapons.secondary.img" class="weapon__img" >

					<span class="weapon__name">{{ inventory.weapons.secondary.name | realName }}</span>

					<div class="secondary__ammo">
						<span class="ammo-current" :class="{'red': inventory.weapons.secondary.ammo <= Math.ceil(inventory.weapons.secondary.ammo_max*.175)}">{{ inventory.weapons.secondary.ammo }}</span>
						<span class="ammo-reserve">{{ inventory.weapons.secondary.ammo_reserve }}</span>
					</div>
				</li>

				<li class="weapons__knife weapon" :class="{'weapon-selected': isKnife}">

					<img :src="inventory.weapons.knife.img" class="weapon__img">

					<span class="weapon__name">{{ inventory.weapons.knife.name | realName }}</span>
				</li>
			</ul>

			<ul class="grenades">
				<li class="grenade" v-if="inventory.weapons.he">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_hegrenade.7b344756d5dbdda4fd2e583a227a670599889f59.png" alt="he outline" class="weapon__img" :class="{'weapon-selected': isHE}">
					<div>HE</div>
				</li>

				<li class="grenade" v-if="inventory.weapons.flashes">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_flashbang.bbde1307eeb99d78ef67c3a87a3a713023b63af2.png" alt="flash outline" class="weapon__img" :class="{'weapon-selected': isFlash}">
					<div>Flash x {{ inventory.weapons.flashes }}</div>
				</li>

				<li class="grenade" v-if="inventory.weapons.smoke">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_smokegrenade.8746d3fec5a1041d61412295aee74c7d873ccacb.png" alt="smoke outline" class="weapon__img" :class="{'weapon-selected': isSmoke}">
					<div>Smoke</div>
				</li>

				<li class="grenade" v-if="inventory.weapons.decoy">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_decoy.d09e626c3d81f1f262bbca6146407f279a24dd03.png" alt="decoy" class="weapon__img" :class="{'weapon-selected': isDecoy}">
					<div>Decoy</div>
				</li>

				<li class="grenade" v-if="inventory.weapons.molly">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_molotov.d700f0165e02bd9f2cb6bdb63bb76b4cac450b76.png" alt="molotov outline" class="weapon__img" :class="{'weapon-selected': isMolly}">
					<div>Molly</div>
				</li>

				<li class="grenade" v-if="inventory.weapons.incgrenade">
					<img src="http://media.steampowered.com/apps/730/icons/econ/weapons/base_weapons/weapon_incgrenade.94d31f4f1af7d2e695f403d9a55f2cd64f3459b2.png" alt="incendiary" class="weapon__img" :class="{'weapon-selected': isInc}">
					<div>Incendiary</div>
				</li>

			</ul>
			<div class="bomb" v-if="inventory.bomb">
				C4
				<img src="http://vignette1.wikia.nocookie.net/cswikia/images/f/fc/C4_ticking_source.png/revision/latest/scale-to-height-down/100" alt="bomb_csgo" :class="{'weapon-selected': isC4}">
			</div>
		</section>

		<pre>
			{{ inventory | json }}
		</pre>
		<pre>
			{{ player | json }}
		</pre>

	</main>

	<script src="client.js"></script>
</body>

</html>

