/* indigo 500 #3F51B5 */
/* cyan accent 200 #18FFFF */

body {
	margin: 0;
	font-family: 'Open Sans','Helvetica', sans-serif;
	background-color: #eee;
}

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	margin: 0;
	margin-bottom: 1em;
}

header {
	background-color: #3F51B5;
	padding: 2rem;
	color: #fff;
	border-bottom: 1rem solid #18FFFF;
}

header h1 {
	margin: 0;
}

main {
	display: flex;
	flex-direction: column;
}

main section {
	flex-basis: 50%;
	flex-direction: column;
	display: flex;
	padding: 2rem;
}

ul {
	padding: 0;
	margin: 0;
	margin-bottom: 1em;
	list-style: circle inside;
}

img {
	transform: rotateY(180deg);
}

.grenade {
	display: inline-flex;
	flex-direction: column;
	align-items: flex-end;
}
.grenade img {
	height: 50px;
}

.weapon__img-selected {
	background-color: #18FFFF;
}
.weapon__img {}